<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SBAS" connectionString="Data Source=rosebloom.arvixe.com;Initial Catalog=SBAS_Dev;Persist Security Info=True;User ID=SWENG500_User;Password=Pa$$w0rd!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GoogleKey" value="AIzaSyA796OMHJybK3GBneYnYZTFiHPK7z1-YTQ"/>
    <add key="DistanceMatrixURL" value="https://maps.googleapis.com/maps/api/distancematrix/xml"/>

    <!--Email Config-->
    <add key="SMTPFromEmailAddress" value="SmallBusinessAppointmentScheduler@hotmail.com"/>
    <add key="SMTPEnableSsl" value="true"/>
    <add key="SMTPHost" value="smtp.live.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPDefaultCredentials" value="false" />
    <add key="SMTPPassword" value="1qa@WS3ed$RF"/>
    <add key="SMTPUserName" value="SmallBusinessAppointmentScheduler@hotmail.com" />
  </appSettings>
</configuration>