
<div class="MyBpopup" id="AppointmentNotCompleted" style="display: none;">
    <span class="button b-close"><span>X</span></span>
    <span class="logo">Appointment</span><br />
    This Appointment has not been marked completed.
</div>
<div class="MyBpopup" id="AppointmentCompleted">
    <span class="button b-close"><span>X</span></span>
    <span class="logo">Appointment</span><br />
    <br />
    This Appointment has been marked completed. The client has been sent an email informing of the appointment compeltion.
</div>
<div class="MyBpopup" id="AppointmentAllreadyCompleted">
    <span class="button b-close"><span>X</span></span>
    <span class="logo">Appointment</span><br />
    This Appointment is already completed.
</div>
<div class="MyBpopup" id="MarkedForInvoicingSuccessful">
    <span class="button b-close"><span>X</span></span>
    <span class="logo">Appointment</span><br /><br />
    <p>Appointment is now ready for invoicing.</p>
</div>
<div class="MyBpopup" id="MarkedForInvoicingUnSuccessful">
    <span class="button b-close"><span>X</span></span>
    <span class="logo">Appointment</span><br /><br />
    <p>Appointment could not be set ready for invoicing.</p>
</div>
<div class="MyBpopup" id="AppointmentIsSetReadyForInvoicing">
    <span class="button b-close"><span>X</span></span>
    <span class="logo">Appointment</span><br />
    <p>Appointment has already been marked ready for invoicing.</p>
</div>
<div class="MyBpopup" id="AppointmentError">
    <span class="button b-close"><span>X</span></span>
    <span class="logo">Appointment</span><br />
    <p>This appointment had a problem, your administrator has been contacted. <br /> Once it has been fixed you will be contacted.</p>
</div>
<div class="MyBpopup" id="AppointmentDistanceTimeValidation">
    <span class="button b-close"><span>X</span></span>
    <span class="logo">Appointment</span><br />
    <p>There is not enough time between appointments for this appointment, try another time slot!</p>
</div>
<div class="MyBpopup" id="AppointmentCustomErrorMessage">
    <span class="button b-close"><span>X</span></span>
    <span class="logo">Appointment</span><br />
    <p id="customerrormessage">There is not enough time between appointments for this appointment, try another time slot!</p>
</div>