@{
    ViewBag.Title = "About";
}

 <!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color: #ffffff;">About</h2>
                <h2 class="section-subheading" style="color: #ffffff;">Small Business Appointment Scheduler</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Content/images/oldcabin.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 style="color: #fed136;">June 2014</h4>
                                <h4 class="subheading" style="color:#FFFFFF;">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p style="color:#B4DF5B;">Four Penn State Graduate students come together to build a system to fulfill the final project requirements!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Content/images/lightbulb.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 style="color: #fed136;">August 2014</h4>
                                <h4 class="subheading" style="color:#FFFFFF;">An Idea is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p style="color:#B4DF5B;">What these four students have developed is a fully functional small business appointment schdeuling system for single business owners. This system is provides scheduling, inventory maintenance, invoicing and payments.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br>Of Our
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('body').addClass('aboutbody');
    });
</script>